node_modules/
.next/
out/
build/
.DS_Store
*.tsbuildinfo
next-env.d.ts
.env*.local
.vercel

# runtime data lokal (uploads & db file-based fallback)
data/uploads/
data/uploads-pmb/
data/pendaftar.json
data/pmb.json
